body{
    font-size: 12px;!important;
}
#nav{
    background-color: #333333;!important;
    border: transparent;
}
.people{
    margin-right: 2em;
}
/*�˵���*/
.caidan,.caidan2{
    padding-bottom: 1em;
    border-bottom: 1px solid #cccccc;
}
/*��ҳ��*/
.alldocs{
    height: 39px;
    line-height: 39px;
    vertical-align: middle;
    padding-left: 2em;
}
.alldocs>.dropdown-toggle{
    display: inline-block;
}
/*�����ĵ������˵�*/
#allfilelist,#allfilelist1{
    top: 14%;
}
.liucheng li>a{
    text-decoration: none;
    color: #000000;
    margin-left: 2em;
}
/*�������*/
/*.shuxing_pos{*/
    /*position: relative;*/
/*}*/
/*.shuxing{*/
    /*width: 30%;*/
    /*position: absolute;*/
    /*top:120px;*/
    /*right:0px;*/
    /*z-index: 20;*/
/*}*/
/*.shuxing>.panel-heading{*/
    /*width: 100%;*/
/*}*/
/*�ļ�����ģ̬�� ��*/
#file .input-group,#file .row,#anjuan .input-group,#anjuan .row{
    margin-top: 0.5em;
}
#jieYue .input-group{
    margin-top: 0.5em;
}
#file .modal-body,#anjuan .modal-body{
    padding-bottom: 0px;
}

/*!*�ַ���*!*/
#accordion .panel a{
    text-decoration: none;
    color: #000000;
}
#accordion .panel li{
    padding: 0px;
    list-style: none;
    padding-top: 1em;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px;
}
#accordion .panel li:hover{
    background-color:#eee;
}
#accordion .panel-body ul{
    padding: 0;
}
/*��ҳ*/

.newFile_top{
    margin-top: 1.5em;
}
.breadcrumb:hover{
    cursor:pointer;
}







